<form 
    [formGroup]="userForm"
    class="flex max-lg:flex-col lg:items-center justify-between w-full gap-8"
    (ngSubmit)="handleSubmit()"
>
    <div class="flex max-lg:flex-col items-center gap-8">
        <div class="flex items-center gap-2">
            <label for="name">Email: </label>
            <input 
                type="email" formControlName="email" id="name"
                class="p-2 rounded border-gray-400 border"
            >
        </div>
        <div class="flex items-center gap-2">
            <label for="name">Username: </label>
            <input 
                type="text" formControlName="username" id="title"
                class="p-2 rounded border-gray-400 border"
            >
        </div>
    </div>
    <button 
        [disabled]="!userForm.valid" 
        class="py-2 w-full px-4 border rounded flex items-center justify-between gap-4"
        [ngClass]="{'opacity-30 pointer-events-none animate-pulse': loading() === true}"
    >
        <span>Add User</span>
        @if (loading()) {
            <span class="animate-spin">√</span>
        }
    </button>
</form>